streamlit
moviepy
pydub
speechrecognition
python-docx
fpdf
PyPDF2
assemblyai
fastapi
uvicorn
basemodel
optional
crossmiddleware
multipart
google-generativeai==0.8.2
langchain-core==0.3.80
langchain-google-genai==2.0.10
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.8
langchain-community==0.3.21
google-ai-generativelanguage==0.6.10
